<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <b>Contact</b> <br>lianli@ict.ac.cn<br>lujie@ict.ac.cn<br>lihaofeng@ict.ac.cn
		  <!-- Address: 北京市中国科学院计算技术研究所程序分析小组 -->
    </div>
		<div class="col-sm-4">
    
    </div>
		<div class="col-sm-4">
		</div>
	  </div>
	</div>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script> -->
<script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

